In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup

In [2]:
url='https://www.prokabaddi.com/standings'

In [3]:
res=requests.get(url)
res.status_code
content=res.text

In [4]:

doc=BeautifulSoup(content,'html.parser')

In [5]:
# for names
qualf=doc.find_all('p',{'class':'name'})
team_names=[]
for i in range(12):
    team_names.append(qualf[i].text)
print(team_names)

['Jaipur Pink Panthers', 'Puneri Paltan', 'Bengaluru Bulls', 'U.P. Yoddhas', 'Tamil Thalaivas', 'Dabang Delhi K.C.', 'Haryana Steelers', 'Gujarat Giants', 'U Mumba', 'Patna Pirates', 'Bengal Warriors', 'Telugu Titans']

In [6]:
# for match played
plays=doc.find_all('div',{'class':'table-data matches-play'})
no_matches=[]
for i in range(1,13):
    no_matches.append(plays[i].text)
print(no_matches)

['22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22']

In [7]:
wons=doc.find_all('div',{'class':'table-data matches-won'})
no_wons=[]
for i in range(1,13):
    no_wons.append(wons[i].text)
print(no_wons)

['15', '14', '13', '12', '10', '10', '10', '9', '10', '8', '8', '2']

In [8]:
losts=doc.find_all('div',{'class':'table-data matches-lost'})
no_losts=[]
for i in range(1,13):
    no_losts.append(losts[i].text)
print(no_losts)

['6', '6', '8', '8', '8', '10', '10', '11', '12', '11', '11', '20']

In [9]:
draws=doc.find_all('div',{'class':'table-data matches-draw'})
no_draws=[]
for i in range(1,13):
    no_draws.append(draws[i].text)
print(no_draws)

['1', '2', '1', '2', '4', '2', '2', '2', '0', '3', '3', '0']

In [10]:
score_diffs=doc.find_all('div',{'class':'table-data score-diff'})
no_score_diffs=[]
for i in range(1,13):
    no_score_diffs.append(score_diffs[i].text)
print(no_score_diffs)

['174', '66', '39', '42', '5', '17', '16', '-16', '-28', '-58', '-12', '-245']

In [11]:
points=doc.find_all('div',{'class':'table-data points'})
no_points=[]
for i in range(1,13):
    no_points.append(points[i].text)
print(no_points)

['82', '80', '74', '71', '66', '63', '61', '59', '56', '54', '53', '15']

In [12]:
ranks=[1,2,3,4,5,6,7,8,9,10,11,12]

In [3]:
import pandas as pd

In [14]:
season1={
   'rank':ranks,
    'Team_Names':team_names,
    'Matches_Played':no_matches,
    'Wins':no_wons,
    'Losses':no_losts,
    'Ties':no_draws,
    'Score_Diff':no_score_diffs,
    'Points':no_points}

print(season1)

{'rank': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 'Team_Names': ['Jaipur Pink Panthers', 'Puneri Paltan', 'Bengaluru Bulls', 'U.P. Yoddhas', 'Tamil Thalaivas', 'Dabang Delhi K.C.', 'Haryana Steelers', 'Gujarat Giants', 'U Mumba', 'Patna Pirates', 'Bengal Warriors', 'Telugu Titans'], 'Matches_Played': ['22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22'], 'Wins': ['15', '14', '13', '12', '10', '10', '10', '9', '10', '8', '8', '2'], 'Losses': ['6', '6', '8', '8', '8', '10', '10', '11', '12', '11', '11', '20'], 'Ties': ['1', '2', '1', '2', '4', '2', '2', '2', '0', '3', '3', '0'], 'Score_Diff': ['174', '66', '39', '42', '5', '17', '16', '-16', '-28', '-58', '-12', '-245'], 'Points': ['82', '80', '74', '71', '66', '63', '61', '59', '56', '54', '53', '15']}

In [15]:
season1_df=pd.DataFrame(season1)

In [16]:
season1_df

,rank,Team_Names,Matches_Played,Wins,Losses,Ties,Score_Diff,Points
0,1,Jaipur Pink Panthers,22,15,6,1,174,82
1,2,Puneri Paltan,22,14,6,2,66,80
2,3,Bengaluru Bulls,22,13,8,1,39,74
3,4,U.P. Yoddhas,22,12,8,2,42,71
4,5,Tamil Thalaivas,22,10,8,4,5,66
5,6,Dabang Delhi K.C.,22,10,10,2,17,63
6,7,Haryana Steelers,22,10,10,2,16,61
7,8,Gujarat Giants,22,9,11,2,-16,59
8,9,U Mumba,22,10,12,0,-28,56
9,10,Patna Pirates,22,8,11,3,-58,54
10,11,Bengal Warriors,22,8,11,3,-12,53
11,12,Telugu Titans,22,2,20,0,-245,15

In [18]:
season1_df.to_csv('s9.csv', index=False)

In [4]:
url='https://www.prokabaddi.com/stats/0-21-player-successful-raids-statistics'
res=requests.get(url)
res.status_code
content=res.text

In [5]:
doc=BeautifulSoup(content,'html.parser')

In [6]:
name=doc.find_all('p',{'class':'name first-name'})
l_name=doc.find_all('p',{'class':'name last-name'})
played=doc.find_all('div',{'class':'table-data matches-played'})
points=doc.find_all('div',{'class':'table-data total-points'})
cat=doc.find_all('div',{'class':'category'})

In [7]:
len(name)

10

In [8]:
names=[]
lnames=[]
cats=[]
for i in range(10):
    names.append(name[i].text.strip())
    lnames.append(l_name[i].text.strip())
    cats.append(cat[i].text.strip())

matches_played=[]
points_s=[]
for i in range(1,11):
    matches_played.append(played[i].text.strip())
    points_s.append(points[i].text.strip())

In [9]:
cats

['Raider',
 'Raider',
 'Raider',
 'All-Rounder',
 'Raider',
 'Raider',
 'Raider',
 'Raider',
 'Raider',
 'Raider']

In [10]:
df={
    'First_Name':names,
    'Last_Name':lnames,
    'Type':cats,
    'Matches_Played':matches_played,
    'Points_Scored':points_s
}

In [11]:
players=pd.DataFrame(df)

In [55]:
players

  First_Name  Last_Name         Type Matches_Played Points_Scored
0    Pardeep     Narwal       Raider            153          1180
1   Maninder      Singh       Raider            122           958
2      Rahul  Chaudhari       Raider            150           854
3     Deepak      Hooda  All-Rounder            157           835
4     Naveen      Kumar       Raider             85           788
5      Pawan   Sehrawat       Raider            105           765
6       Ajay     Thakur       Raider            120           643
7     Sachin                  Raider            106           643
8     Vikash    Kandola       Raider            101           583
9      Rohit      Kumar       Raider            101           559

In [12]:
players.to_csv('topplayers.csv',index=False)

In [3]:
url='https://feeds.prokabaddi.com/SI/20/Standings.json'
res=requests.get(url)
res.status_code

200

In [14]:
content=res.text

In [15]:
doc=BeautifulSoup(content,'html.parser')

In [21]:
a=doc.find_all('teams')

In [22]:
doc

{"standings":{"series_id":1,"series_name":"Pro Kabaddi Season 1","parent_series_id":1,"parent_series_global_id":0,"last_updated":"Dec 20, 2021","groups":[{"id":1,"name":"","teams":{"team":[{"team_id":3,"team_global_id":0,"team_name":"Jaipur Pink Panthers","team_short_name":"Jaipur","position":"1","prev_position":null,"position_status":null,"played":"14","wins":"10","lost":"3","tied":"1","draws":"0","noresult":"0","score_diff":"0","points_conceded":"","points_scored":"","points":"54","away_wins":"","away_points_conceded":"","away_points_scored":"","home_wins":"","is_qualified":true,"trump_matches_won":"","ga":"","gf":"","match_result":{"match":[{"id":0,"result":"L","prev_position":null,"date":"2014-03-14","teama_id":3,"teama_short_name":"JAI","teama_score":9,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":18,"post_match_position":null,"match_result":"U Mumba Won by 9 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-06-25","teama_id":5,"teama_short_name":"MUM","teama_score":22,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":17,"post_match_position":null,"match_result":"U Mumba Won by 5 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-06-29","teama_id":3,"teama_short_name":"JAI","teama_score":14,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":14,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 0 Pts"},{"id":0,"result":"","prev_position":null,"date":"2016-06-30","teama_id":3,"teama_short_name":"JAI","teama_score":15,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":17,"post_match_position":null,"match_result":""},{"id":0,"result":"W","prev_position":null,"date":"2016-07-01","teama_id":3,"teama_short_name":"JAI","teama_score":15,"teamb_id":4,"teamb_short_name":"KOL","teamb_score":14,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 1 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-02","teama_id":3,"teama_short_name":"JAI","teama_score":15,"teamb_id":7,"teamb_short_name":"PUNE","teamb_score":17,"post_match_position":null,"match_result":"Puneri Paltan Won by 2 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-06","teama_id":2,"teama_short_name":"DEL","teama_score":11,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":24,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 13 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-10","teama_id":6,"teama_short_name":"PAT","teama_score":12,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":19,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 7 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-13","teama_id":1,"teama_short_name":"BLR","teama_score":10,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":15,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 5 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-16","teama_id":4,"teama_short_name":"KOL","teama_score":15,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":11,"post_match_position":null,"match_result":"Bengal Warriors Won by 4 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-17","teama_id":7,"teama_short_name":"PUNE","teama_score":12,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":17,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 5 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-21","teama_id":3,"teama_short_name":"JAI","teama_score":10,"teamb_id":2,"teamb_short_name":"DEL","teamb_score":14,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by -4 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-22","teama_id":3,"teama_short_name":"JAI","teama_score":15,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":11,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 4 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-24","teama_id":8,"teama_short_name":"HYD","teama_score":22,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":12,"post_match_position":null,"match_result":"Telugu Titans Won by 10 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-29","teama_id":8,"teama_short_name":"HYD","teama_score":9,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":16,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 7 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-31","teama_id":6,"teama_short_name":"PAT","teama_score":20,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":13,"post_match_position":null,"match_result":"Patna Pirates Won by 7 Pts"}]}},{"team_id":5,"team_global_id":0,"team_name":"U Mumba","team_short_name":"Mumbai","position":"2","prev_position":null,"position_status":null,"played":"14","wins":"8","lost":"3","tied":"3","draws":"0","noresult":"0","score_diff":"0","points_conceded":"","points_scored":"","points":"51","away_wins":"","away_points_conceded":"","away_points_scored":"","home_wins":"","is_qualified":true,"trump_matches_won":"","ga":"","gf":"","match_result":{"match":[{"id":0,"result":"W","prev_position":null,"date":"2014-03-14","teama_id":3,"teama_short_name":"JAI","teama_score":9,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":18,"post_match_position":null,"match_result":"U Mumba Won by 9 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-06-25","teama_id":5,"teama_short_name":"MUM","teama_score":22,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":17,"post_match_position":null,"match_result":"U Mumba Won by 5 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-06-26","teama_id":7,"teama_short_name":"PUNE","teama_score":17,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":10,"post_match_position":null,"match_result":"Puneri Paltan Won by 7 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-06-29","teama_id":5,"teama_short_name":"MUM","teama_score":20,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":17,"post_match_position":null,"match_result":"Patna Pirates Won by -3 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-01","teama_id":5,"teama_short_name":"MUM","teama_score":17,"teamb_id":2,"teamb_short_name":"DEL","teamb_score":15,"post_match_position":null,"match_result":"U Mumba Won by 2 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-03","teama_id":4,"teama_short_name":"KOL","teama_score":8,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":19,"post_match_position":null,"match_result":"U Mumba Won by 11 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-06","teama_id":8,"teama_short_name":"HYD","teama_score":16,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":15,"post_match_position":null,"match_result":"Telugu Titans Won by 1 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-08","teama_id":1,"teama_short_name":"BLR","teama_score":13,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":13,"post_match_position":null,"match_result":"U Mumba Won by 0 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-16","teama_id":6,"teama_short_name":"PAT","teama_score":22,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":15,"post_match_position":null,"match_result":"Patna Pirates Won by 7 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-20","teama_id":5,"teama_short_name":"MUM","teama_score":16,"teamb_id":7,"teamb_short_name":"PUNE","teamb_score":16,"post_match_position":null,"match_result":"U Mumba Won by 0 Pts"},{"id":0,"result":"","prev_position":null,"date":"2016-07-21","teama_id":5,"teama_short_name":"MUM","teama_score":14,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":11,"post_match_position":null,"match_result":""},{"id":0,"result":"L","prev_position":null,"date":"2016-07-21","teama_id":5,"teama_short_name":"MUM","teama_score":11,"teamb_id":4,"teamb_short_name":"KOL","teamb_score":18,"post_match_position":null,"match_result":"Bengal Warriors Won by 7 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-23","teama_id":5,"teama_short_name":"MUM","teama_score":17,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":18,"post_match_position":null,"match_result":"Bengaluru Bulls Won by 1 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-27","teama_id":2,"teama_short_name":"DEL","teama_score":18,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":23,"post_match_position":null,"match_result":"U Mumba Won by 5 Pts"}]}},{"team_id":1,"team_global_id":0,"team_name":"Bengaluru Bulls","team_short_name":"Bengaluru","position":"3","prev_position":null,"position_status":null,"played":"14","wins":"8","lost":"5","tied":"1","draws":"0","noresult":"0","score_diff":"0","points_conceded":"","points_scored":"","points":"47","away_wins":"","away_points_conceded":"","away_points_scored":"","home_wins":"","is_qualified":true,"trump_matches_won":"","ga":"","gf":"","match_result":{"match":[{"id":0,"result":"W","prev_position":null,"date":"2016-06-26","teama_id":1,"teama_short_name":"BLR","teama_score":12,"teamb_id":4,"teamb_short_name":"KOL","teamb_score":13,"post_match_position":null,"match_result":"Bengaluru Bulls Won by -1 Pts"},{"id":0,"result":"","prev_position":null,"date":"2016-06-30","teama_id":3,"teama_short_name":"JAI","teama_score":15,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":17,"post_match_position":null,"match_result":""},{"id":0,"result":"L","prev_position":null,"date":"2016-07-02","teama_id":2,"teama_short_name":"DEL","teama_score":23,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":13,"post_match_position":null,"match_result":"Dabang Delhi K.C. Won by 10 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-04","teama_id":1,"teama_short_name":"BLR","teama_score":18,"teamb_id":7,"teamb_short_name":"PUNE","teamb_score":14,"post_match_position":null,"match_result":"Bengaluru Bulls Won by 4 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-05","teama_id":8,"teama_short_name":"HYD","teama_score":10,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":15,"post_match_position":null,"match_result":"Bengaluru Bulls Won by 5 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-07","teama_id":6,"teama_short_name":"PAT","teama_score":17,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":12,"post_match_position":null,"match_result":"Patna Pirates Won by 5 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-08","teama_id":1,"teama_short_name":"BLR","teama_score":13,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":13,"post_match_position":null,"match_result":"U Mumba Won by 0 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-12","teama_id":1,"teama_short_name":"BLR","teama_score":10,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":20,"post_match_position":null,"match_result":"Telugu Titans Won by 10 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-13","teama_id":1,"teama_short_name":"BLR","teama_score":10,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":15,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 5 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-14","teama_id":1,"teama_short_name":"BLR","teama_score":15,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":26,"post_match_position":null,"match_result":"Patna Pirates Won by 11 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-15","teama_id":1,"teama_short_name":"BLR","teama_score":9,"teamb_id":2,"teamb_short_name":"DEL","teamb_score":21,"post_match_position":null,"match_result":"Dabang Delhi K.C. Won by 12 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-19","teama_id":4,"teama_short_name":"KOL","teama_score":12,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":15,"post_match_position":null,"match_result":"Bengaluru Bulls Won by 3 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-23","teama_id":5,"teama_short_name":"MUM","teama_score":17,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":18,"post_match_position":null,"match_result":"Bengaluru Bulls Won by 1 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-27","teama_id":7,"teama_short_name":"PUNE","teama_score":20,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":22,"post_match_position":null,"match_result":"Puneri Paltan Won by -2 Pts"}]}},{"team_id":6,"team_global_id":0,"team_name":"Patna Pirates","team_short_name":"Patna","position":"4","prev_position":null,"position_status":null,"played":"14","wins":"7","lost":"5","tied":"2","draws":"0","noresult":"0","score_diff":"0","points_conceded":"","points_scored":"","points":"45","away_wins":"","away_points_conceded":"","away_points_scored":"","home_wins":"","is_qualified":true,"trump_matches_won":"","ga":"","gf":"","match_result":{"match":[{"id":0,"result":"W","prev_position":null,"date":"2016-06-27","teama_id":7,"teama_short_name":"PUNE","teama_score":14,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":15,"post_match_position":null,"match_result":"Patna Pirates Won by 1 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-06-29","teama_id":5,"teama_short_name":"MUM","teama_score":20,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":17,"post_match_position":null,"match_result":"Patna Pirates Won by -3 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-03","teama_id":8,"teama_short_name":"HYD","teama_score":17,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":16,"post_match_position":null,"match_result":"Patna Pirates Won by -1 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-07","teama_id":6,"teama_short_name":"PAT","teama_score":17,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":12,"post_match_position":null,"match_result":"Patna Pirates Won by 5 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-08","teama_id":6,"teama_short_name":"PAT","teama_score":20,"teamb_id":4,"teamb_short_name":"KOL","teamb_score":12,"post_match_position":null,"match_result":"Patna Pirates Won by 8 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-09","teama_id":6,"teama_short_name":"PAT","teama_score":7,"teamb_id":2,"teamb_short_name":"DEL","teamb_score":22,"post_match_position":null,"match_result":"Dabang Delhi K.C. Won by 15 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-10","teama_id":6,"teama_short_name":"PAT","teama_score":12,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":19,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 7 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-14","teama_id":1,"teama_short_name":"BLR","teama_score":15,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":26,"post_match_position":null,"match_result":"Patna Pirates Won by 11 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-16","teama_id":6,"teama_short_name":"PAT","teama_score":22,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":15,"post_match_position":null,"match_result":"Patna Pirates Won by 7 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-17","teama_id":4,"teama_short_name":"KOL","teama_score":16,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":20,"post_match_position":null,"match_result":"Patna Pirates Won by 4 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-22","teama_id":3,"teama_short_name":"JAI","teama_score":15,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":11,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 4 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-23","teama_id":6,"teama_short_name":"PAT","teama_score":17,"teamb_id":7,"teamb_short_name":"PUNE","teamb_score":16,"post_match_position":null,"match_result":"Patna Pirates Won by 1 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-25","teama_id":2,"teama_short_name":"DEL","teama_score":21,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":12,"post_match_position":null,"match_result":"Patna Pirates Won by -9 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-26","teama_id":6,"teama_short_name":"PAT","teama_score":12,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":25,"post_match_position":null,"match_result":"Telugu Titans Won by 13 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-29","teama_id":6,"teama_short_name":"PAT","teama_score":22,"teamb_id":7,"teamb_short_name":"PUNE","teamb_score":16,"post_match_position":null,"match_result":"Patna Pirates Won by 6 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-31","teama_id":6,"teama_short_name":"PAT","teama_score":20,"teamb_id":3,"teamb_short_name":"JAI","teamb_score":13,"post_match_position":null,"match_result":"Patna Pirates Won by 7 Pts"}]}},{"team_id":8,"team_global_id":0,"team_name":"Telugu Titans","team_short_name":"Hyderabad","position":"5","prev_position":null,"position_status":null,"played":"14","wins":"6","lost":"5","tied":"3","draws":"0","noresult":"0","score_diff":"0","points_conceded":"","points_scored":"","points":"42","away_wins":"","away_points_conceded":"","away_points_scored":"","home_wins":"","is_qualified":false,"trump_matches_won":"","ga":"","gf":"","match_result":{"match":[{"id":0,"result":"L","prev_position":null,"date":"2016-06-25","teama_id":7,"teama_short_name":"PUNE","teama_score":16,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":16,"post_match_position":null,"match_result":"Puneri Paltan Won by 0 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-06-29","teama_id":3,"teama_short_name":"JAI","teama_score":14,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":14,"post_match_position":null,"match_result":"Jaipur Pink Panthers Won by 0 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-03","teama_id":8,"teama_short_name":"HYD","teama_score":17,"teamb_id":6,"teamb_short_name":"PAT","teamb_score":16,"post_match_position":null,"match_result":"Patna Pirates Won by -1 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-04","teama_id":8,"teama_short_name":"HYD","teama_score":18,"teamb_id":4,"teamb_short_name":"KOL","teamb_score":12,"post_match_position":null,"match_result":"Telugu Titans Won by 6 Pts"},{"id":0,"result":"L","prev_position":null,"date":"2016-07-05","teama_id":8,"teama_short_name":"HYD","teama_score":10,"teamb_id":1,"teamb_short_name":"BLR","teamb_score":15,"post_match_position":null,"match_result":"Bengaluru Bulls Won by 5 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-06","teama_id":8,"teama_short_name":"HYD","teama_score":16,"teamb_id":5,"teamb_short_name":"MUM","teamb_score":15,"post_match_position":null,"match_result":"Telugu Titans Won by 1 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-10","teama_id":2,"teama_short_name":"DEL","teama_score":16,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":17,"post_match_position":null,"match_result":"Telugu Titans Won by 1 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-12","teama_id":1,"teama_short_name":"BLR","teama_score":10,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":20,"post_match_position":null,"match_result":"Telugu Titans Won by 10 Pts"},{"id":0,"result":"W","prev_position":null,"date":"2016-07-15","teama_id":8,"teama_short_name":"HYD","teama_score":21,"teamb_id":7,"teamb_short_name":"PUNE","teamb_score":15,"post_match_position":null,"match_result":"Telugu Titans Won by 6 Pts"},{"id":0,"result":"","prev_position":null,"date":"2016-07-18","teama_id":4,"teama_short_name":"KOL","teama_score":19,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":16,"post_match_position":null,"match_result":""},{"id":0,"result":"W","prev_position":null,"date":"2016-07-19","teama_id":8,"teama_short_name":"HYD","teama_score":19,"teamb_id":2,"teamb_short_name":"DEL","teamb_score":13,"post_match_position":null,"match_result":"Telugu Titans Won by 6 Pts"},{"id":0,"result":"","prev_position":null,"date":"2016-07-21","teama_id":5,"teama_short_name":"MUM","teama_score":14,"teamb_id":8,"teamb_short_name":"HYD","teamb_score":11,"post_match_position":null,"match_result":